.card-performance{
  height: 100%;
  .cardContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    p {
      color: #000;
    }
    .cardWrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
    }
    .title{
      color: #000;
      font-size: 18px;
      font-weight: 700;
    }
    .performanceError{
      color: rgba(0,0,0,0.5);
      margin-top: 1rem;
    }
    .performance{
      color: #000;
      font-size: 2.25rem;
      font-weight: 700;
      color: rgba(0,0,0,0.9);
      span{
        font-size: 1rem;
        color: rgba(0,0,0,0.5);
      }
    }
  }
  &.cpuCard {
    background: #ffffff;
  }
  &.memoryCard {
    background:  #ffffff;
  }
  &.diskCard {
    background: #ffffff;
  }
  &.gpuCard {
    background:  #ffffff;
  }
}
