.card {
  height: 100%;
  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    p {
      color: #fff;
      big {
        font-size: 40px;
        font-weight: 600;
      }
    }
  }
}
.statusCard {
  background: linear-gradient(180deg, #7939FF 0%, #BFA0FF 100%);
}
.avgResponseCard {
  background: linear-gradient(180deg, #164B3C 0%, #23652A 100%);
}
.lastUpdateCard {
  background: linear-gradient(180deg, #5D7DF0 0%, #283077 100%);
  .cardContent {
    gap: unset;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    .cardFooter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .listButton {
        color:#ffffff;
      }
    }
  }
}
